*{
	padding: 0;
	margin:0;
}
body{ 
	overflow: auto;
}
/*encabezado de la pagina*/
.menu{
	display: flex;
	justify-content: flex-end;
	background-color: white;
	margin-right: 7%;	
	list-style: none;
}
a{   
 color: black;
 text-decoration:none;
 font-size: 11px;
 padding: 25px 10px;   
 display: inline-block;
 font-weight:bold;
} 
a:hover{
	color:blue;
}
/*presentation of page*/
.presentation{
	background-image: url("../img/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.subtitle{
	color: #fff;
	text-align: center;
}
.title{
	color: blue;
}
.register{        
    background-color: Transparent;
    background-repeat:no-repeat;
    border-color: white;
    cursor:pointer;
    overflow: hidden;
    font-size: 150%;
    color: white;
    border-radius: 5px;
	height:50px;
    width:150px;       
       
}
/*content of page*/
.content  span{
	color: #00FFFF;
}
.content {	
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.tema{
	width: 25%;
	display: inline-block;
	font-size: 20px;
}
.title2 {
	color: blue;
}
/*-------------------*/
.temario{
	background-color: #f2f2f2;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.theme{
	color: black;
	font-size: 50px;
 	display: flex;
 	justify-content: center;
 	padding: 150px 5px;
 	
}
.Information{

	display: flex;
	justify-content: space-around;
	padding: 0px 5px;
}
.big{
	background: center;

	width: 15%;
	
	font-size: 13px;
	display: inline-block;

}

.colaboradores{
	background-image: url("../img/image.jpg");
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.collaborator{
	color: white;
	font-size: 50px;
 	display: flex;
 	justify-content: center;
 	padding: 150px 5px;
 	
}

.figure{
	display: inline-block;
	letter-spacing: 80px;

}

.Suscripcion{
	background-color: #f2f2f2;
	text-align: center;
	padding: 25px 100px;
	
	background-size: cover;

}
.sus div{
	display: inline-block;

}

.Contactos{
	
}
.titulo{
	color: black;
	font-size: 45px;
 	display: flex;
 	justify-content: center;
 	padding: 25px 5px;
}
.ico{
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.tex{
	padding-top: 28%;
}
.a{
	display: flex;
}
.b{
	display: flex;
}
.letra{


}
.con{
	width: 30%;
	display: flex;

}

.info{
	color: blue;
}
.ingresar{
	width: 30%;
}
.cuadro{
	
}
hr {
	width: 75%;
  background-color: black;
  height: 1px;
}
.redes{
	color: blue;
}

hr {
  background-color: red;
}

 input,textarea{
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border:1px solid #ccc;
}

 input:focus, textarea:focus {
	border:1px solid #1668C4;
}
 textarea{
	resize: vertical;
	max-height: 300px;
	min-height: 100px;
}
 input[type="submit"]{
	margin-bottom: 0;
	background: #1668c4;
	color: #fff;
	border:none;
}
 input[type="submit"]:hover {
	background: #4A88F4;
	cursor: pointer;
}

.map{
	width: 100vw;
	height: 100vh;
	background-size: cover;	
}
